@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar,
.navbar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar,
.sidebar {
  z-index: 10000;
}

.e-grid .e-gridheader tr:first-child th {
  background-color: #03c9d7;
  color: white;
}
.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
  background-color: #03c9d7;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  background: #03c9d7;
}
.e-checkbox-wrapper .e-frame.e-check,
.e-css.e-checkbox-wrapper .e-frame.e-check {
  background: #03c9d7;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #d4f5f5;
}
/* color-picker style  */

/* Common sample level styles */
#inline-control {
  width: 100%;
  text-align: center;
}
#inline-control .col-xs-12 {
  margin: 10px 0;
}
#inline-control h4 {
  margin-bottom: 20px;
}

.e-bigger #inline-control h4 {
  font-size: 20px;
}
#inline-control.e-mobile-control h4 {
  margin-bottom: 15px;
}

/* Preview area styles */
#inline-control #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  width: 300px;
  background-color: #008000;
}
#inline-control.e-mobile-control #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen_mobile.png')
    no-repeat;
  background-color: #008000;
  height: 35px;
  width: 300px;
}
.highcontrast #inline-control #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen_highcontrast.png')
    no-repeat;
  background-color: #008000;
  border-radius: 20px;
}
.highcontrast #inline-control.e-mobile-control #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen_mobile_highcontrast.png')
    no-repeat;
  background-color: #008000;
}

/* Common sample level styles for mobile */
#inline-control.e-mobile-control #inline-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#inline-control.e-mobile-control #inline-content .col-xs-12 {
  flex: 0 0 auto;
  margin-top: 5px;
}
